@import "./base.css";

a,
.green {
  text-decoration: none;
  color: rgb(225, 141, 72);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

